@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: spin-element infinite 20s linear;
  }
}

@keyframes spin-element {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
